body {
  background: url('https://g.foolcdn.com/art/shop/newsletters/50/microsite/mfow-page_bg.png') repeat scroll 0 0 transparent;
  color: #333;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.highlight {
  padding: 10px;
  font-style: bold;
  background: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald","Source Sans Pro",sans-serif;
  text-align: center;
  color: #016692;
}


h1 {
  font-size: 2.5em;
  line-height: 1.25;
  font-weight: 900;
}


h3 {
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 30px;
  margin: 50px auto 20px auto;
}

h4 {
text-align: left;
}


p {
    margin-bottom: 16px;
}

.green {
  color: #27ae60;
  font-weight: bold;
}


#page-wrapper {
  background: white;
      margin: 20px auto;
    padding: 20px 90px;
        border-radius: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  max-width: 960px;
}

.testimonial {
  background: url("quotes_green.png") no-repeat scroll left top transparent;
  color: #333333;
  margin: 0 auto 20px;
  padding: 22px 0 0 14px;
  min-height: 70px;
  width: 640px;
}


.author {
  font-size: .8em;
  font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #222;
  font-weight: 300;
}

ul,
ol {
  font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  margin: 10px auto;

}

li {
  margin-bottom: 10px;
}

ol li {
  padding-left: 7.5px;
}

.image__well {
  margin: auto auto 15px auto;
  display: block;
  max-width: 100%;
  height: auto;
}



.dude {
  width: 90%;
  margin: 20px auto;
}
.dude ol {
  counter-reset:li;
  margin: 0;
  padding: 0;
}
.dude ol li {
  font-size: 1.3em;
  list-style: none;
  margin: 0 0 .5em 1.95em;
  padding: .5em 1em;
  position: relative;
}

.dude ol li:before {
  background: #016692;
  color: white;
  content: counter(li);
  counter-increment:li;
  font-size: 1.2em;
  line-height:1em;
  padding: .5em 0;
  position: absolute;
    top: .4em;
    left: -1.6em;
  text-align: center;
  width: 2em;
}
.dude ol li p {
  padding-left: 20px;
}
.dude ol li span {
  position: absolute;
  line-height: 25px;
}

.btn {
  margin: 25px auto;
}


.thumb-pad1 {
  margin: 0 0 64px 0;
  overflow: hidden;
}

.thumb-pad1 .thumbnail {
  position: relative;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  border: none;
  padding: 0;
  background: none;
  overflow: hidden;
}

.thumb-pad1 .thumbnail .badge {
  border-radius: 0;
  width: 170px;
  height: 170px;
  text-align: center;
  line-height: 170px;
  background: #f4f5f5;
  margin-right: 30px;
  float: left;
}

.thumb-pad1 .caption {
  padding: 0;
  overflow: hidden;
  color: #b5b5b5;
}

.thumb-pad1 .caption .title {
  font: 300 30px/30px 'Open Sans';
  color: #2a2a2a;
  margin-bottom: 21px;
  text-transform: uppercase;
}

.thumb-pad1 .caption .description {
  font: 20px/1em 'Open Sans';
  color: #99bf38;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.thumb-pad1 .caption p {
  margin-bottom: 0;
}




.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs {
    text-align:center;
}





.tabs {
  width: 650px;
  float: none;
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
  text-align: left;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: #8e44ad;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: #703688;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #612e76;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #612e76;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #612e76;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p.link a:hover {
  background-color: #522764;
}


/*
p {
  font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.76);
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 20px;
}

ul,
ol {
  font-family: 'Monserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.76);
  font-size: 1em;
  line-height: 1.5em;
}

li {
  margin-bottom: 15px;
}

img {
  width: 100%;
}

.promo-img-wrap {
  float: left;
  width: 55%;
  margin: 0 35px 0px 0;
}

a {
  color: #0077aa;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

a:hover {
  text-decoration: none;
  color: #00415e;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

input {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.tab-content p {
  line-height: 1.3em !important;
}

img {
  max-width: 100%;
}

.black-top {
  background-color: black;
  height: 30px;
}

.top-logo-bar {
  height: 80px;
  border-bottom: 1px dotted #B1B1B1;
  background-color: #f0f0f0;
  padding: 20px 0px;
}

.logo {
  width: 200px;
}

.todays-date {
  float: right;
  font-size: .8em;
}

.cust-width {
  width: 75%;
}

.main-content {
  padding-top: 50px;
}

.image-credit {
  font-size: .6em;
  font-style: italic;
  color: #888;
  font-weight: 300;
  margin-bottom: 0px;
}

.b-bottom {
  border-bottom: 1px dotted #B1B1B1;
  padding-bottom: 5px;
}

.b-left {
  border-left: 1px dotted #B1B1B1;
}

.email {
  height: 52px;
  width: 350px;
  padding: 10px;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
}

.submit-button {
  border-radius: 5px;
  background-color: #069211;
  color: #ffffff;
  border: 1px solid #069211;
  padding: 5px 35px;
  font-size: .9em;
}

.submit-button:hover {
  background-color: #0BC719;
  ;
  color: #ffffff;
}

input[type=submit]:hover {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.hlp-privacy {
  font-size: .7em;
  margin-top: 10px;
  text-align: center;
}

.col-1 {
  padding-right: 20px;
}

aside {
  padding-left: 25px;
}

aside h3 {
  font-size: 1em;
}

aside img {
  max-width: 100%;
}

aside p {
  font-size: .8em;
  line-height: 1.3em;
}

aside a {
  text-decoration: none;
}

.disclosure p {
  display: block;
  font-style: italic;
  font-weight: 300;
}

footer {
  margin-top: 100px;
  padding: 40px 0px 40px;
  font-size: .7em;
  font-weight: 300;
  border-top: 1px dotted #B1B1B1;
  background-color: #0a2c3a;
}

footer p {
  font-size: .9em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
}

footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

ul.tabs {
  margin: 50px 0px 0px 0px;
  padding: 0px;
  list-style: none;
  border-bottom: 1px dotted #B1B1B1;
}

ul.tabs li {
  background: none;
  color: #909090;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px dotted #B1B1B1;
  border-bottom-style: none;
  padding: 10px;
}

ul.tabs li.current {
  color: #222;
  font-weight: 900;
}

.tab-content {
  display: none;
  margin-top: 20px;
  height: 350px;
}

.tab-content.current {
  display: inherit;
}

.tab-link:hover {
  color: #000000;
}

@media (max-width: 1225px) {
  img {
    max-width: 100%;
  }
  .disclosure p {
    padding: 20px 0px 0px;
  }
}

@media (max-width: 1225px) {
  aside {
    padding-left: 0px;
  }
}

@media (max-width: 1203px) {
  .submit-button {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px 46px;
    font-size: 1em;
  }
  .ecap {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .cust-width {
    width: 85%;
  }
  .b-left {
    border-left: 0px;
  }
}

@media (max-width: 1100px) {
  .cust-width {
    width: 85%;
  }
}

@media (max-width: 991px) {
  .tab-content {
    height: auto;
  }
}

@media (max-width: 760px) {
  .cust-width {
    width: 100%;
  }
  .promo-img-wrap {
    float: none;
    width: 100%;
  }
  .testimonial img {
    width: 35% !important;
    margin-bottom: 20px;
  }
  form {
    margin-bottom: 10px;
  }
  ul.tabs {
    margin: 10px 0px 0px 0px;
  }
  aside > h3 {
    border-bottom: 1px dotted #B1B1B1;
    padding-bottom: 10px;
    margin-bottom: 5px;
  }
  footer {
    padding: 40px 25px 40px;
  }
  .mobile-hide {
    display: none;
  }
}

@media (max-width: 480px) {
  ul.tabs li {
    max-width: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    display: block;
  }
  .mobile-hide {
    display: none;
  }
}

*/